* {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}
.navigation {
	width: 100%;
	height: 10vh;
	background-color: #F8F8F8;
}

.home {
	width: auto;
	height: 100%;
	float: left;
	margin-left: 100px;
}

.home p {
	padding-top: 25px;
}

.adopt {
	width: auto;
	height: 100%;
	margin-left: 5%;
	float: left;
}

.adopt p {
	padding-top: 25px;
}

.shop {
	width: auto;
	height: 100%;
	margin-left: 5%;
	float: left;
}

.shop p {
	padding-top: 25px;
}
.bunnycare {
	width: auto;
	height: 100%;
	margin-left: 5%;
	float: left;
}

.bunnycare p {
	padding-top: 25px;
}


.margin {
	width: 85%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
}

section.container {
	width: 100%;
	height: 90vh;
	background-color: #F8F8F8;
}

.kiri {
	width: 50%;
	height: 100%;
	float: left;
	background-color: #F8F8F8;
}

.topic1 {
	width: 100%;
	height: auto;
	padding-top: 200px;
	padding-left: 100px;
}

.bunnycaree {
	width: 100%;
	height: auto;
	padding-left: 100px;
	padding-top: 20px;
}

.isi {
	width: 40%;
	height: auto;
	padding-left: 100px;
	padding-top: 20px;
}

.isi1 {
	width: 70%;
	height: auto;
	padding-left: 100px;
	padding-top: 20px;
}

.readmore {
	width: 20%;
	height: auto;
	margin-top: 30px;
	margin-left: 100px;
	padding: 20px;
	text-align: center;
	background-color: antiquewhite;
}


.kanan {
	width: 40%;
	height: 100%;
	float: left;
	background-image: url("../image/kelinciii.jpg");
	background-size: cover;
}

.background {
	width: 100vw;
	height: 100vh;
	background-color: #F8F8F8;
}

.background1 {
	width: 100vw;
	height: 400vh;
	background-color: #BEDFEA;
}

.background2 {
	width: 100vw;
	height: 100vh;
	background-color: #E2CCCC;
}


.button {
  width: 25%;
  height: 10%;
  background-color:antiquewhite;
}

.featured {
  width : 50vw;
  height : 7vh;
  margin-left : 11vw;
  padding-top: 2%;
}

.featured p {
  width : 50vw;
  height : 7vh;
  margin-left : 11vw;
  padding-top: 20%;
}

.shapefull
{
  width: 90vw;
  height: 70vh;
  margin-left:10vw;
  float:left;
  margin-top :2vh;
  overflow-x : auto;
}


.shape {
  background-color: #F7EADC;
  width: 25vw;
  height: 45vh;
  margin-right:2%;
  border-radius: 20px;
  float:left;
  margin-top : 1%;
}

.shape1 {
  background-color: #F7EADC;
  width: 80vw;
  height: 45vh;
  margin-right: auto;
  margin-left: 10vw;
  border-radius: 20px;
  margin-top : 1%;
  float: left;
}

.rabbit1 {
  width : 90%;
  height : 50%;
  margin-left : 5%;
  margin-top : 5%;
  background-image: url('../image/rabbit1.jpg');
  background-size: cover;
}

.food1 {
  width : 30%;
  height : 73%;
  margin-left : 5%;
  background-image: url('../image/food1.png');
  background-size: contain;
  padding-top: 7%;
  float: left;
  background-repeat: no-repeat;
}

.rabbit2 {
  width : 90%;
  height : 50%;
  background-image: url('../image/rabbit2.jpg');
  background-size: cover;
  margin-left : 5%;
  margin-top : 5%;
}

.food2 {
  width : 30%;
  height : 85%;
  margin-left : 5%;
  background-image: url('../image/food2.png');
  background-size: contain;
  padding-top: 4%;
  float: left;
  background-repeat: no-repeat;
}

.rabbit3 {
  width : 90%;
  height : 50%;
  background-image: url('../image/rabbit3.jpg');
  background-size: cover;
  margin-left : 5%;
  margin-top : 5%;
}

.food3 {
  width : 30%;
  height : 80%;
  margin-left : 5%;
  background-image: url('../image/food3.png');
  background-size: contain;
  padding-top: 5%;
  float: left;
  background-repeat: no-repeat;
}

.rabbit4 {
  width : 90%;
  height : 50%;
  background-image: url('../image/rabbit4-01.png');
  background-size: cover;
  margin-left : 5%;
  margin-top : 5%;
}

.food4 {
  width : 30%;
  height : 100%;
  margin-left : 5%;
  background-image: url('../image/food4.png');
  background-size: contain;
  padding-top: 3%;
  float: left;
  background-repeat: no-repeat;
}

.rabbit5 {
  width : 90%;
  height : 50%;
  background-image: url('../image/rabbit5.jpg');
  background-size: cover;
  margin-left : 5%;
  margin-top : 5%;
}

.food5 {
  width : 30%;
  height : 80%;
  margin-left : 5%;
  background-image: url('../image/food5.png');
  background-size: contain;
  padding-top: 6%;
  float: left;
  background-repeat: no-repeat;
}

.rabbit6 {
  width : 90%;
  height : 50%;
  background-image: url('../image/rabbit6.jpg');
  background-size: cover;
  margin-left : 5%;
  margin-top : 5%;
}

.food6 {
  width : 30%;
  height : 100%;
  margin-left : 5%;
  background-image: url('../image/food6.png');
  background-size: contain;
  padding-top: 0%;
  float: left;
  background-repeat: no-repeat;
}

.food7 {
  width : 30%;
  height : 80%;
  margin-left : 5%;
  background-image: url('../image/food7.png');
  background-size: contain;
  padding-top: 5%;
  float: left;
  background-repeat: no-repeat;
}

.food8 {
  width : 30%;
  height : 75%;
  margin-left : 10%;
  background-image: url('../image/food8.png');
  background-size: contain;
  padding-top: 6%;
  float: left;
  background-repeat: no-repeat;
}

.name {
  width : 40%;
  height : 10%;
  background-color: #F9D4C5;
  border-radius : 5px;
  margin-left : auto;
  margin-right: auto;
  text-align : center;
  margin-top : 2%;
}

.name1 {
  width : 40%;
  height : 10%;
  margin-left: 10%;
  background-color: #F9D4C5;
  border-radius : 5px;
  text-align : center;
  margin-top: 4.5%;
  float: left;
}

.description {
  width : 90%;
  height :25%;
  margin-top : 3%;
  background-color : #F7E2DA;
  margin-left : 5%;
  border-radius: 5px;
  text-align : center;
}

.description1 {
  width : 40%;
  height :60%;
  margin-top : 2%;
  margin-left: 10%;
  background-color : #D6E5EA;
  border-radius: 5px;
  text-align : center;
  float: left;
}

.description h3 {
  width : 90%;
  height :25%;
  text-align : center;
  padding-top: 4%;
  margin-left:auto;
  margin-right: auto;
}

.name p{
  padding-top: 7%;
}

.name1 p{
  padding-top: 2%;
}

.description1 h3 {
  width : 90%;
  height :25%;
  text-align : center;
  padding-top: 4%;
  margin-left:auto;
  margin-right: auto;
}

.topik1 {
	width: 100%;
	height: auto;
	padding-top: 100px;
	padding-left: 100px;
}

.topik {
	width: 50%;
	height: auto;
	padding-top: 10px;
	margin-left: 40%;
	margin-right: 10%;
}

.judul {
	width: 50%;
	height: auto;
	padding-top: 10px;
	margin-left: 40%;
	margin-right: 10%;
}

.fill {
	width: 50%;
	height: auto;
	padding-top: 20px;
	margin-left: 40%;
	margin-right: 10%;
}

.kiri {
	width: 50%;
	height: 100%;
	float: left;
	background-color: #F8F8F8;
}

.container1 {
	width: 100%;
	height: 30vh;
	background-color: #F8F8F8;
}