@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Caladea:400i|PT+Serif:700|Passion+One|Playfair+Display|Raleway|Rye&display=swap');
* {
  margin: 0;
  padding: 0;
}

li {
  float: left;
  list-style:none;
}

li a, .dropbtn {
  display: inline-block;
  padding-right: 40px;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  z-index: 10;
}

.dropdown-content a {
  color: white;
  text-decoration: none;
  display: block;
  text-align: left;
  padding-top: 20px;
}

.dropdown-content a:hover {
  color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 50px;
  background-color: maroon;
  z-index: 10;
}

main {
  width: 1200px;
  padding-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

nav main {
  padding-top: 10px;
}

nav main a {
  text-decoration: none;
  color: white;
  font-family: 'Raleway', sans-serif;
  padding-top: 10px;
  padding-right: 15px;
}

nav main a:hover {
  text-decoration: underline;
  color: white;
}


section {
  width: 100%;
  height: 100vh;
  position: relative;
}

section.full {
  height:100vh;
  background-image:url('../image/empat.gif');
  background-size: cover;
  background-position: top left;
  background-repeat: no-repeat;
}




section .watermark {
  margin-top: 2vw;
  left: 0px;
  width: 100%;
  text-align:center;
  /*background-color: cyan;*/
}


.judul {
  margin-top: 20%;
  width: 100%;
  text-align: center;
}

.judul1 {
  margin-top: 20px;
  
  width:100%;
  text-align: center;
}

.subjudul {
  margin-top:2%;
  width 100%;
  text-align: center;
}

.isi {
  width: 100%;
  text-align: center;
  padding-top: 10px;
}

.text {
  margin-top: 15%;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  text-align:center;
}

.textone {
  width: 100%;
  margin-top:10%;
}

.texttwo {
  width: 100%;
}

.textthree {
  width: 100%
  margin-top: 10%;
  padding-top:30%;
  text-align: center;
}

.dividetexttwo {
  width: 50%;
  float: left;
}

.twodivide {
  width:100%;
}

.number {
  width: 5%;
  padding-top:5%;
  float: left;
}

.textdivide {
  padding-top:5%;
  width:90%;
  margin-left: 5%;
  float: left;
}

@media (max-width: 886px) {
  main {
    width: 100vw;
  }
  
  li {
  float: left;
  list-style:none;
}

li a, .dropbtn {
  display: inline-block;
  padding-right: 40px;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  z-index: 10;
}

.dropdown-content a {
  color: white;
  text-decoration: none;
  display: block;
  text-align: left;
  padding-top: 20px;
}

.dropdown-content a:hover {
  color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 50px;
  background-color: maroon;
  z-index: 10;
}

nav main {
  padding-top: 10px;
}

nav main a {
  text-decoration: none;
  color: white;
  font-family: 'Raleway', sans-serif;
  padding-top: 10px;
  padding-right: 15px;
}

nav main a:hover {
  text-decoration: underline;
  color: white;
}


section {
  width: 100%;
  height: 100vh;
  position: relative;
}

section.full {
  height:100vh;
  background-image:url('../image/empat.gif');
  background-size: cover;
  background-position: top left;
  background-repeat: no-repeat;
}

section .watermark {
  margin-top: 2vw;
  left: 0px;
  width: 100%;
  text-align:center;
  /*background-color: cyan;*/
}


.judul {
  margin-top: 30%;
  width: 100%;
  text-align: center;
}

.subjudul {
  margin-top:2%;
  width 100%;
  text-align: center;
}

.isi {
  width: 100%;
  text-align: center;
  padding-top: 10px;
}

.text {
  margin-top: 15%;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  text-align:center;
}

.textone {
  width: 100%;
  margin-top:10%;
}

.texttwo {
  width: 100%;
}

.dividetexttwo {
  width: 50%;
  float: left;
}

.twodivide {
  width:100%;
}

.number {
  width: 5%;
  padding-top:5%;
  float: left;
}

.textdivide {
  padding-top:5%;
  width:90%;
  margin-left: 5%;
  float: left;
}
}