h1 {
  font-family: Serif;
  font-size: 100px;
  text-transform: uppercase;
  color: maroon;
  text-align: left;
}

h2 {
  font-family:'Calibri', Sans-Serif;
  font-size: 25px;
  text-transform: uppercase;
  text-align: left;
  color: maroon;
}

h3 {
  font-family:'Calibri', Sans-Serif;
  font-size: 18px;
  padding-bottom: 10px;
}

p {
  font-family: Sans-Serif;
  font-size: 12pt;
  padding-bottom: 10px;
}

.subjudul h2 {
  text-align: center;
  font-size: 40px;
}

h1 {
  text-align: center;
  font-size: 80px;
}

.subjudul h3 {
  text-align: center;
  font-size: 20px;
}